html, body {
  height: 100%;
}

#box1 {
box-sizing: border-box;
background-color: aliceblue;
border: 2px solid blue;
margin: 3px 7px 11px 13px;
padding: 5px 9px 13px 15px;
/* height: calc(100% - 10px); */
height: 100%;
width: 50%;
display: inline-block;
/* display: none; */
/* visibility: hidden; */
}

#box2 {
  border: 2px solid black;
  background-color: rgb(240, 193, 193);
  margin: 3px 7px 11px 13px;
  padding: 5px 9px 13px 15px;
  width: 400px;
  display: inline-block;
}

div:last-of-type:hover {
  background-color: aqua;
}